.sign-up-container {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px 80px;
  border-radius: 5px;
  // opacity: 0.1;
}

.form > div {
  position: relative;
  width: 250px;
  height: 90px;
}

.form > h3 {
  color: lightblue;
  display: block;
  margin: 0 auto;
  font-size: 2rem;
}

label {
  color: lightblue;
}

.form-error {
  color: red;
  font-size: 0.8rem;
}

.sign-button {
  cursor: pointer;
  display: inline-block;
  width: 80%;
  background: steelblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  margin: 0 auto;
}

input {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: #000;
  height: 30px;
}

input:focus {
  outline: none;
}

input.error {
  border: 2px solid red;
}

@media (max-width: 992px) {
  .sign-up-container {
    height: 100vh;
    padding: 10px 20px;
  }

  .form {
    padding: 10px 20px;
  }

  .form > div {
    height: 75px;
  }

  .form h3 {
    font-size: 1.5rem;
  }

  .form-error {
    font-size: 0.5rem;
  }

  label {
    font-size: 0.8rem;
  }

  .container.active .form {
    opacity: 0.1;
  }
}
