.l-button,
.m-button {
  background-color: $button-background-color;
  color: $button-text-color;
  border-radius: 20px;
  padding: 10px 20px;
}

.m-button {
  padding: 5px 10px;
}

.demo {
  background-color: transparent;
  border: none;
}

.nav-link {
  text-decoration: none;
}
