.main-content {
  color: #000;
  height: calc(100% - 100px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content h3 {
  font-size: 3rem;
  max-width: 400px;
}

.description {
  max-width: 350px;
  padding-top: 20px;
}

.get-started {
  padding-top: 20px;
}

@media (max-width: 992px) {
  .main-content {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .main-content {
    height: 100%;
  }

  .main-content h3 {
    font-size: 1rem;
    max-width: 400px;
  }
}
